@model SpinWheel.ViewModel.InsertProductViewModel
@using SpinWheel.Models
@{
    ViewBag.Title = "Cập nhật sản phẩm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Cập nhật sản phẩm</h2>
<a class="btn quick-link" href="@Url.Action("ListProduct")"><i class="far fa-list mr-1"></i> Danh sách sản phẩm</a>
<div class="box_content">
    @using (Html.BeginForm("UpdateProduct", "ProductVcms", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.Product.Id)
        <div class="row">
            <div class="col-lg-8">
                @Html.ValidationSummary(true)
                <table class="form_table">
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.Name)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Product.Name)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.Description)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Product.Description)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.Body)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Product.Body)</td>
                    </tr>

                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.Url)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Product.Url)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.TitleMeta)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Product.TitleMeta)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.DescriptionMeta)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Product.DescriptionMeta)</td>
                    </tr>
                    <tr>
                        <td class="form_name"></td>
                        <td class="form_text">
                            <input type="submit" class="btn quick-link" value="Cập nhật" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4">
                <table class="form_table">
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.Active)</td>
                        <td class="form_text">@Html.CheckBoxFor(model => model.Product.Active, new { @checked = "checked" })</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.ShowMenu)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Product.ShowMenu)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.Sort)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Product.Sort)</td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>
@section scripts{
    <script>
        $(function () {
            $("#ListImages").sortable();
            $("#ListImages").disableSelection();

            $(".tags-wrapper ul").sortable();
            $(".tags-wrapper ul").disableSelection();
        });
        var i = 1;
        $("#fileupload").fileupload({
            add: function (e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                if (data.originalFiles[0]["type"].length && !acceptFileTypes.test(data.originalFiles[0]["type"])) {
                    uploadErrors.push("Chỉ chấp nhận định dạng jpeg, jpg, png, gif");
                }
                if (data.originalFiles[0]["size"] > 4000000) {
                    uploadErrors.push("Dung lượng ảnh lớn hơn 4MB");
                }
                var totalImg = $("#ListImages .thumb-img-box").length;
                if (totalImg >= 10) {
                    uploadErrors.push("Chỉ đăng tối đa 10 ảnh");
                }
                if (uploadErrors.length > 0) {
                    alert(uploadErrors.join("\n"));
                    return false;
                } else {
                    data.submit();
                }
                return true;
            },
            url: "/Uploader/Upload?folder=products&r=" + Math.random(),
            dataType: "json",
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    $('#ListImages').append('<li><input type="hidden" name="Pictures" value ="' + file.name + '" /><img src="/images/products/' + file.name + '?w=80&h=80"/><a href="javascript:;" id="' + i + '" onclick="delfile(' + i + ')"><img src="/content/admin/icon-delete.png" alt="" style="vertical-align:middle" /></a></li>');
                });
                i = i + 1;
                $("#progress").fadeOut(2000);
            },
            start: function () {
                $("#progress .progress-bar").css("width", "0");
                $("#progress").show();
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $("#progress .progress-bar").css("width", progress + "%");
            }
        }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');

        function delfile(divid) {
            if (confirm('Bạn có chắc xóa ảnh này?')) {
                $('#' + divid).parent().fadeOut().remove();
            }
        }
    </script>
}
