@model SpinWheel.ViewModel.AllArticleViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Tin tức";
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("AllArticle", "Home");
}


@Html.Action("Header", "Home")
<div class="bg-breadcrumb">
    <div class="container">
        <ol class="breadcrumb px-0 m-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
        </ol>
    </div>
</div>
<div class="bg-second p-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-lg-0 order-1">
                <div class="category">
                    <div class="category-title">
                        danh mục bài viết
                    </div>
                    <div class="accordion">
                        @foreach (var item in Model.Categories.Where(a => a.ParentId == null))
                        {
                            <div class="card">
                                <div class="card-header" id="heading-@item.Id">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h2 class="mb-0">
                                            <a href="@Url.Action("ArticleCategory", "Home", new {url = item.Url})">@item.CategoryName</a>
                                        </h2>
                                        @if (Model.Categories.Any(a => a.ParentId == item.Id))
                                        {
                                            <button class="btn-card" type="button" data-toggle="collapse" data-target="#collapse-@item.Id" aria-expanded="false" aria-controls="collapse-@item.Id">
                                                <i class="fas fa-chevron-down"></i>
                                            </button>
                                        }
                                    </div>
                                </div>
                                @if (Model.Categories.Where(a => a.ParentId == item.Id).Any())
                                {
                                    <div id="collapse-@item.Id" class="collapse">
                                        <div class="card-body">
                                            <ul class="pl-0 mb-0">
                                                @foreach (var child in Model.Categories.Where(p => p.ParentId == item.Id))
                                                {
                                                    <li>
                                                        <a href="@Url.Action("ArticleCategory", "Home", new {url = child.Url})">
                                                            @child.CategoryName
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-9 order-lg-1 order-0">
                <div class="article-list">
                    <div class="row">
                        @if (Model.Articles.Any())
                        {
                            foreach (var item in Model.Articles)
                            {
                                <div class="col-lg-4 col-md-6 mb-4">
                                    @Html.Partial("_itemArticle", item)
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-12">
                                <p class="alert alert-success small">Nội dung hiện chưa được cập nhật. Vui lòng quay lại sau !!!!</p>
                            </div>
                        }
                        @if (Model.Articles.PageCount > 1)
                        {
                            <div class="col-12 text-center mt-3">
                                @Html.PagedListPager(Model.Articles, page => Url.Action("AllArticle", new { page }))
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Action("Footer", "Home")