@model SpinWheel.ViewModel.ArticleDetailsViewModel
@{
    ViewBag.Title = Model.Article.TitleMeta ?? Model.Article.Subject;
    ViewBag.Description = Model.Article.DescriptionMeta ?? Model.Article.Description;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("ArticleDetail", "Home", new { url = Model.Article.Url });
    if (Model.Article.Image != null)
    {
        ViewBag.ImgShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/articles/", Model.Article.Image);
    }
}

@Html.Action("Header", "Home")
<div class="bg-breadcrumb">
    <div class="container">
        <ol class="breadcrumb px-0 m-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("ArticleCategory", "Home", new { url = Model.Article.ArticleCategory.CategoryName })">
                    @Model.Article.ArticleCategory.CategoryName
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Article.Subject</li>
        </ol>
    </div>
</div>
<div class="bg-light p-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pr-lg-0">
                <div class="shadow content-detail">
                    <h1 class="article-name">@Model.Article.Subject</h1>
                    <span class="date">
                        <i class="fal fa-calendar-alt mr-1"></i>
                        @Model.Article.CreateDate.ToString("dd/MM/yyyy")
                    </span>
                    @if (Model.Article.Description != null)
                    {
                        <div class="sapo-detail">
                            @Model.Article.Description
                        </div>
                    }
                    @if (Model.Article.Body != null)
                    {
                        <div class="body mt-3">
                            @Html.Raw(Model.Article.Body)
                        </div>
                    }
                    <hr>
                    <div class="share">
                        <ul class="d-flex align-items-center pl-0">
                            <li class="mr-3">Chia sẻ:</li>
                            <li><button class="facebook" onclick="window.open('https://www.facebook.com/sharer.php?u='+encodeURIComponent(location.href)+'&amp;t='+encodeURIComponent(document.title));return false"><i class="fab fa-facebook-f"></i></button></li>
                            <li><button class="instagram" onclick="window.open('https://www.instagram.com/?url='+encodeURIComponent(location.href)+'&amp;t='+encodeURIComponent(document.title));return false"><i class="fab fa-instagram"></i></button></li>
                            <li><button class="twitter" onclick="window.open('https://twitter.com/intent/tweet?url='+encodeURIComponent(location.href)+'&amp;text='+encodeURIComponent(document.title));return false"><i class="fab fa-twitter"></i></button></li>
                            <li><button class="linkedin" onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url='+encodeURIComponent(location.href)+'&amp;t='+encodeURIComponent(document.title));return false"><i class="fab fa-linkedin-in"></i></button></li>
                        </ul>
                    </div>
                    <hr />
                    <div class="fb-comments" data-href="@ViewBag.Canonical" data-numposts="10" data-width="100%"></div>
                </div>
                @if (Model.Articles.Any())
                {
                    <div class="title-category text-center mt-4">Bài viết liên quan</div>
                    <div class="row mt-3 article-recent">
                        @foreach (var item in Model.Articles)
                        {
                            <div class="col-lg-4 col-md-6 mb-4">
                                @Html.Partial("_itemArticle", item)
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="col-sm-12 col-lg-4 pl-lg-4">
                @Html.Action("MenuArticle", "Home")
            </div>
        </div>
    </div>
</div>
@Html.Action("Footer", "Home")