@model SpinWheel.ViewModel.HomeViewModel
@using SpinWheel.Models
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
    ViewBag.Title = config.Title;
    ViewBag.Description = config.Description;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("Index");
}

@Html.Action("Header", "Home")
<section class="introduce">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-0 order-1">
                <div class="title-intro" data-aos="fade-up" data-aos-duration="700">
                    tạo phần mềm quay số
                    <p>nhanh chóng & chuyên nghiệp</p>
                </div>
                <div class="sub-title" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                    Apps are built based on highly
                </div>
                <div class="media-list">
                    <div class="media" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="400">
                        <div class="media-img">
                            <img src="~/Content/images/img-main/icon-intro.png" />
                        </div>
                        <div class="body">
                            Công ty <br>
                            chất lượng
                        </div>
                    </div>
                    <div class="media" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="500">
                        <div class="media-img">
                            <img src="~/Content/images/img-main/icon-intro (1).png" />
                        </div>
                        <div class="body">
                            Hàng đầu<br>
                            về quay số
                        </div>
                    </div>
                    <div class="media" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="600">
                        <div class="media-img">
                            <img src="~/Content/images/img-main/icon-intro (2).png" />
                        </div>
                        <div class="body">
                            Không thể<br>
                            can thiệp
                        </div>
                    </div>
                    <div class="media" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="700">
                        <div class="media-img">
                            <img src="~/Content/images/img-main/icon-intro (3).png" />
                        </div>
                        <div class="body">
                            Hơn 2 triệu <br>
                            người dùng
                        </div>
                    </div>
                </div>
                <div class="btn-intro">
                    <a href="@Url.Action("ArticleDetail", "Home", new { url = config.AboutUrl })" class="btn-main">
                        Tìm hiểu thêm
                    </a>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1 order-0">
                <div class="img-intro">
                    @if (config.AboutImage != null)
                    {
                        <img src="@Path.Combine("/images/configs/", config.AboutImage)" alt="@config.Title">
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@if (Model.Banners.Any(b => b.GroupId == 1))
{
    var delay = 200;
    <section class="customer">
        <div class="container">
            <div class="title" data-aos="fade-up" data-aos-duration="700">
                KHÁCH HÀNG TIÊU BIỂU
            </div>
            <div class="partner-list">
                @foreach (var item in Model.Banners.Where(b => b.GroupId == 1))
                {
                    <div class="partner-item" data-aos="flip-left" data-aos-duration="700" data-aos-delay="@delay">
                        <a href="@item.Url">
                            @if (item.Image != null)
                            {
                                <img src="@Path.Combine("/images/banners/", item.Image)" alt="@item.BannerName">
                            }
                        </a>
                    </div>
                    delay += 100;
                }
            </div>
        </div>
    </section>
}

@if (Model.Banners.Any(b => b.GroupId == 2))
{
    var delay = 200;
    <section class="why-1">
        <div class="container">
            <div class="title" data-aos="fade-up" data-aos-duration="700">
                TẠI SAO BẠN NÊN SỬ DỤNG PHẦN MỀM <br>
                QUAY SỐ NGẪU NHIÊN Vico SPIN
            </div>
            <div class="row">
                @foreach (var item in Model.Banners.Where(b => b.GroupId == 2))
                {
                    <div class="col-lg-4 col-md-4">
                        <div class="why-item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="@delay">
                            @if (item.Image != null)
                            {
                                <img src="@Path.Combine("/images/banners/", item.Image)" alt="@item.BannerName">
                            }
                            <div class="body">
                                <div class="why-name">
                                    @item.BannerName
                                </div>
                                @if (item.Content != null)
                                {
                                    <div class="desc">
                                        @Html.Raw(item.Content)
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    delay += 100;
                }
            </div>
            @if (Model.Products.Any())
            {
                foreach (var product in Model.Products)
                {
                    <div class="text-center">
                        <a href="@Url.Action("Product", "Home", new { url = product.Url })" class="btn-main">
                            chi tiết sản phẩm
                        </a>
                    </div>
                }
            }
        </div>
    </section>
}
<section class="tutorial bg-second">
    <div class="container">
        <div class="title" data-aos="fade-up" data-aos-duration="700">
            DỄ DÀNG QUAY SỐ TRÚNG THƯỞNG
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <div class="tutorial-item" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="200">
                    <div class="step-number">
                        01
                    </div>
                    <div class="tutorial-body">
                        <img src="~/Content/images/img-main/icon-tutorial.png" />
                        <div class="step-name">
                            Chọn số thứ tự
                        </div>
                        <div class="step-desc">
                            Bạn cần chọn số nhỏ nhất và số lớn nhất trùng với giá trị bạn cần
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <div class="tutorial-item __step-2" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="300">
                    <div class="step-number">
                        02
                    </div>
                    <div class="tutorial-body">
                        <img src="~/Content/images/img-main/icon-tutorial (1).png" />
                        <div class="step-name">
                            Bấm nút quay
                        </div>
                        <div class="step-desc">
                            Sẽ hiện kết quả trúng thưởng trùng với khách.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                <div class="tutorial-item __step-3" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="400">
                    <div class="step-number">
                        03
                    </div>
                    <div class="tutorial-body">
                        <img src="~/Content/images/img-main/icon-tutorial (2).png" />
                        <div class="step-name">
                            Trao Phần thưởng
                        </div>
                        <div class="step-desc">
                            Bạn cần đối chiếu với kết quả và quy định của bạn với khách hàng.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="why-2">
    <div class="container">
        <div class="title" data-aos="fade-up" data-aos-duration="700">
            TẠI SAO NÊN SỬ DỤNG<br>
            Spin.vicogroup.VN
        </div>
        <div class="box-content">
            <img src="~/Content/images/img-main/img-why.png" class="why-img" />
            <div class="content-left">
                <div class="why-item-2" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                    <div class="why-img-2">
                        <img src="~/Content/images/img-main/icon-why-2.png" />
                    </div>
                    Domain ngắn gọn dẽ nhớ
                </div>
                <div class="why-item-2" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
                    <div class="why-img-2">
                        <img src="~/Content/images/img-main/icon-why-2 (1).png" />
                    </div>
                    Giao diện thân thiện với người dùng
                </div>
                <div class="why-item-2" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
                    <div class="why-img-2">
                        <img src="~/Content/images/img-main/icon-why-2 (2).png" />
                    </div>
                    Hoàn toàn miễn phí
                </div>
                <div class="why-item-2" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500">
                    <div class="why-img-2">
                        <img src="~/Content/images/img-main/icon-why-2 (3).png" />
                    </div>
                    Uy tín và ổn định
                </div>
                <div class="why-item-2" data-aos="fade-up" data-aos-duration="700" data-aos-delay="600">
                    <div class="why-img-2">
                        <img src="~/Content/images/img-main/icon-why-2 (4).png" />
                    </div>
                    Hỗ trợ 24/7
                </div>
            </div>
        </div>
    </div>
</section>
@if (Model.Articles.Any())
{
    var article = Model.Articles.FirstOrDefault();
    <section class="news overflow-hidden">
        <div class="container">
            <div class="title">
                tin tức nổi bật
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="article-large" data-aos="fade-right" data-aos-duration="700">
                        @if (article.Image != null)
                        {
                            <div class="article-img">
                                <a href="@Url.Action("ArticleDetail", "Home", new { url = article.Url })">
                                    <img src="@Path.Combine("/images/articles/", article.Image)" alt="@article.Subject">
                                </a>
                            </div>
                        }
                        <div class="article-body">
                            <div class="subject truncate">
                                <a href="@Url.Action("ArticleDetail", "Home", new { url = article.Url })">
                                    @article.Subject
                                </a>
                            </div>
                            <div class="calendar">
                                <i class="fal fa-calendar-alt"></i>
                                @article.CreateDate.ToString("dd/MM/yyyy")
                            </div>
                            <div class="desc truncate">
                                @article.Description
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    @if (Model.Articles.Count() > 1)
                    {
                        var delay = 200;
                        <div class="row">
                            @foreach (var item in Model.Articles.Skip(1))
                            {
                                <div class="col-lg-12">
                                    <div class="article-home" data-aos="fade-left" data-aos-duration="700" data-aos-delay="@delay">
                                        @if (item.Image != null)
                                        {
                                            <div class="article-img">
                                                <a href="@Url.Action("ArticleDetail", "Home", new { url = item.Url })">
                                                    <img src="@Path.Combine("/images/articles/", item.Image)" alt="@item.Subject">
                                                </a>
                                            </div>
                                        }
                                        <div class="article-body">
                                            <div class="subject truncate">
                                                <a href="@Url.Action("ArticleDetail", "Home", new { url = item.Url })">
                                                    @item.Subject
                                                </a>
                                            </div>
                                            <div class="calendar">
                                                <i class="fal fa-calendar-alt"></i>
                                                @item.CreateDate.ToString("dd/MM/yyyy")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                delay += 100;
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="text-center">
                <a href="@Url.Action("AllArticle", "Home")" class="btn-main">
                    xem thêm
                </a>
            </div>
        </div>
    </section>
}
<section class="contact bg-second">
    <div class="container">
        <div class="title">Liên hệ với chúng tôi</div>
        <div class="box-contact">
            @Html.Action("Contact")
            <img src="~/Content/images/img-main/img-contact.png" class="contact-img" />
        </div>
    </div>
</section>
<section class="service">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-name">
                        <i class="fas fa-user"></i>
                        hỗ trợ 27/7
                    </div>
                    <div class="service-desc">
                        Đội ngũ hỗ trợ chuyên nghiệp, luôn sẵn sàng phục vụ 24/7 để giải đáp các vấn đề thắc mắc của bạn một cách nhanh nhất.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-name">
                        <i class="fas fa-headset"></i>
                        <a href="tel:@config.Hotline">
                            HOTLINE-ZALO: @config.Hotline
                        </a>
                    </div>
                    <div class="service-desc">
                        Tổng đài tư vấn miễn phí 100% dành cho khách hàng VICO SPIN. Hãy gọi cho chúng tôi ngay khi lúc nào bạn gặp khó khăn.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-name">
                        <i class="fas fa-user"></i>
                        <a href="mailto:@config.Email">
                            E-MAIL: @config.Email
                        </a>
                    </div>
                    <div class="service-desc">
                        Mọi yêu cầu của khách hàng gửi về email của demo@vico.vn được giải quyết và trả lời một cách nhanh nhất.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Action("Footer", "Home")