@model SpinWheel.ViewModel.ListClientViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Danh sách trúng giải";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var i = 1;
}

<h2>Danh sách trúng giải</h2>
<a class="btn quick-link" href="@Url.Action("Event","SpinWheel")"><i class="far fa-calendar-star mr-1"></i>Trang sự kiện</a>
<div class="box_content">
    <div class="form-search-list">
        <form action="@Url.Action("ListClient")" method="get" class="ml-0">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    Sự kiện
                    @Html.DropDownListFor(a => a.EventId, Model.EventSelectList, "Tất cả")
                </div>
                <div class="col-lg-3 col-md-6">
                    Tìm theo tên giải thưởng
                    @Html.TextBoxFor(a => a.Name)
                </div>
                <div class="col-lg-3 col-md-6">
                    Tìm theo ngày
                    <div id="reportrange">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                    <input type="hidden" name="startdate" value="" />
                    <input type="hidden" name="enddate" value="" />
                </div>
                <div class="col-lg-3 col-md-6 align-self-center">
                    <button type="submit" class="btn-search">Tìm kiếm</button>
                </div>
            </div>
        </form>
    </div>
    <p>Có tổng số <strong>@Model.ListClientAwards.Count()</strong> giải thưởng đã quay</p>
    <table class="list_table tablecenter table-striped">
        <tbody>
            <tr>
                <th>STT</th>
                <th style="width: 200px">Họ và tên</th>
                <th style="width: 150px">Số điện thoại</th>
                <th style="width: 200px">Sự kiện</th>
                <th style="width: 250px">Giải thưởng</th>
                <th style="width: 150px">Ngày quay</th>
                <th style="width: 100px"></th>
            </tr>
            @foreach (var item in Model.ListClientAwards)
            {
                <tr data-id="@item.Client.Id">
                    <input type="hidden" name="awardId" value="@item.AwardId" />
                    <td>@i</td>
                    <td>@item.Client.Fullname</td>
                    <td>@item.Client.Mobile</td>
                    <td>@item.Award.Event.EventName</td>
                    <td>@item.Award.AwardName</td>
                    <td>@item.CreateDate.ToString("dd/MM/yyyy HH:mm")</td>
                    <td><a href="javascript:;" onclick="deleteClient('@item.Client.Id')">Xóa</a></td>
                </tr>
                i++;
            }
            @if (Model.Clients.PageCount > 1)
            {
                <tr>
                    <td colspan="12">@Html.PagedListPager(Model.Clients, page => Url.Action("ListClient", new { page, name = Model.Name }))</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts
{
    <script type="text/javascript">
        function deleteClient(id) {
            var item = $("tr[data-id='" + id + "']");
            var awardId = item.find("input[name=awardId]").val();
            if (confirm("Bạn có chắc chắn xóa người trúng giải này không?")) {
                $.post("/SpinWheel/DeleteClient", { clientId: id, awardId: awardId }, function (data) {
                    if (data) {
                        $.toast({
                            text: 'Xóa người trúng giải thành công',
                            position: 'bottom-right',
                            icon: 'success',
                        })
                        item.fadeOut();
                    }
                    else {
                        $.toast({
                            text: 'Quá trình thực hiện không thành công. Hãy thử lại',
                            icon: 'error',
                        })
                    }
                });
            }
        }
    </script>
}