@model SpinWheel.ViewModel.ListUserViewModel

@using SpinWheel.Models
@{
    var i = 1;
    ViewBag.Title = "Danh sách người dùng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var p = Enum.GetValues(typeof(TypeUser)).Cast<TypeUser>();

}
<h2>Danh sách người dùng</h2>
@if (ViewBag.Result == "success")
{
    <div id="AlertBox" class="alert alert-success"><strong>Thêm mới người dùng thành công</strong></div>
}
@if (ViewBag.Result == "update")
{
    <div id="AlertBox" class="alert alert-success"><strong>Cập nhật người dùng thành công</strong></div>
}
<a class="btn quick-link" href="@Url.Action("CreateUser")"><i class="fal fa-plus-circle mr-1"></i>Thêm người dùng</a>

<div class="box_content">
    <form action="@Url.Action("ListUser")" method="get">
        <div class="row">
            <div class="col-lg-3">
                <label>Từ khóa</label>
                @Html.TextBoxFor(a => a.Name, new { @class = "w300" })
            </div>
            <div class="col-lg-3">
                <label>Loại tài khoản</label>
                @Html.DropDownList("typeUser",EnumHelper.GetSelectList(typeof(TypeUser)),"Tất cả")
            </div>
            <div class="col-lg-3 align-self-center">
                <button type="submit" class="btn-search">Tìm kiếm</button>
            </div>
        </div>
    </form>
    <p>Có tổng số <strong>@Model.Users.TotalItemCount</strong> người dùng</p>
    <table class="list_table tablecenter table-striped">
        <tbody>
            <tr>
                <th>STT</th>
                <th>Tên đăng nhập</th>
                <th>Loại tài khoản</th>
                <th>Hoạt động</th>
                <th></th>
            </tr>
            @foreach (var user in Model.Users)
            {
                <tr data-id="@user.Id">
                    <td>@i</td>
                    <td class="left">@user.Username</td>
                    <td>@Html.DisplayFor(a => user.TypeUser)</td>
                    <td>@Html.DisplayFor(a => user.Active)</td>
                    <td class="list-icon">
                        @Html.ActionLink("Sửa", "EditUser", new { userId = user.Id }) -
                        @Html.ActionLink("Đổi mật khẩu", "UserChangePassword", new { userId = user.Id }) -
                        <a href="javascript:;" class="red-warring" onclick="deleteUser('@user.Id')">Xóa</a>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function deleteUser(id) {
        if (confirm("Bạn có chắc chắn xóa người dùng này không?")) {
            $.post("/Vcms/DeleteUser", { userId: id }, function (data) {
                if (data) {
                    $.toast({
                        text: 'Xóa quản người dùng thành công',
                        position: 'bottom-right',
                        icon: 'success',
                    })
                    $("tr[data-id='" + id + "']").fadeOut();
                } else {
                    $.toast({
                        text: 'Quá trình thực hiện không thành công. Hãy thử lại',
                        icon: 'error',
                    })
                }
            });
        }
    }
</script>
